{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

<section id="modular-text" class="section {{ page.header.class}} bg-gray">
    <section class="container {{ grid_size }}">
        <div class="columns">
            <div class="column col-7 col-sm-12">
            <ul class="tab tab-block">
                {% for item in page.header.items %}
                    <li class="tab-item" style="cursor: pointer;" onclick="openCity(event, '{{ item }}')">
                    <a>{{ item }}</a>
                    </li>
                {% endfor %}
            </ul>
                <!-- <h2>{{ page.header.cont1.tittel }}</h2>
                {% for para in page.header.cont1.content %}
                <p><h5>{{ para.avsnitt }}</h5></p>
                {% endfor %} -->

{% for cont in page.header.years %}
<div id="{{ cont.year }}" class="tabcontent" style="display:none;">
    <h3>{{ cont.year }} - {{ cont.tittel }}</h3>
    {% for para in cont.content %}
        <p>{{ para.avsnitt }}</p>
    {% endfor %}
  </div>
{% endfor %}
<!-- <div id="2017" class="tabcontent" style="display:none;">
  <h3>2017</h3>
  <p>London is the capital city of England.</p>
</div> -->
</div>

<div class="slick-slider float-right column col-5 col-sm-12">
    {% for slide in page.header.slides %}
    <div><img src='{{ page.media[slide].url }}'/></div>
    {% endfor %}
  </div>

<script type="text/javascript">
    $(document).ready(function(){
      $('.slick-slider').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        adaptiveHeight: true,
        dots: true,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 2000,
        adaptiveHeight: true,
      });
    });
  </script>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab-item");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    
    // Get the element with id="defaultOpen" and click on it
    document.getElementsByClassName("tab-item")[0].click();
    </script>
            
            <!-- <div class="float-right column col-5 col-sm-12">
            <blockquote>
                <h3>{{ page.header.cont2.tittel }}</h3>
                {% for para in page.header.cont2.content %}
                <p>{{ para.avsnitt }}</p>
                {% endfor %}
                </blockquote>
            </div>
            <div class="column col-6 col-md-12-auto">
                {% if image %}
                    {{ image.html('','','align-'~page.header.image_align) }}
                {% endif %}
            </div> -->
        </div>
        <div class="divider"></div>
    </section>
</section>
